.title{
    text-align: center;
    color: limegreen;
}
.body1{
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background-color: aliceblue;
}

li{
    padding-right: 60px;
    padding-left: 180px;
}
div{
    text-align: center;
}
img
{
    width:500px;
    padding-top: 3%;
    height: 200px;
}
