.title{
    text-align: center;
    color: limegreen;
}
.body1{
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background-color: aliceblue;
}

/*li{*/
    /*padding-right: 20px;*/
    /*padding-left: 50px;*/
/*}*/

img
{
    width:500px;
    padding-top: 3%;
    height: 200px;
}
