
{% extends 'common.html' %}
{% block time %}
    {% include 'navigation.html' %}
{#     <h3 align="center" style="color: lightseagreen;margin-top: 2%">Welcome Mr/Miss:{{ message }}</h3>#}
    <div class="container">
    <div id="GFG_DOWN" style="color:black;font-size: 20px; font-weight: bold;">
    	</div>
        <form>
    <table id="myTable" class=" table order-list">

{#    <thead>#}
{#    <tr>#}
{#            <td class="col-sm-1">#}
{#                <input type="button" class="ibtnDel btn btn-md btn-danger "  value="DeleteRow">#}
{#            </td>#}
{#            <td class="col-sm-1">#}
{#                <input type="text" name="day" class="form-control" />#}
{#            </td>#}
{#            <td class="col-sm-1">#}
{#                <input type="text" name="t1"  class="form-control"/>#}
{#            </td>#}
{#            <td class="col-sm-1">#}
{#                <input type="text" name="t2"  class="form-control"/>#}
{#            </td>#}
{#             <td class="col-sm-1">#}
{#                <input type="text" name="t3"  class="form-control"/>#}
{#            </td>#}
{#             <td class="col-sm-1">#}
{#                <input type="text" name="t4"  class="form-control"/>#}
{#            </td>#}
{#             <td class="col-sm-1">#}
{#                <input type="text" name="t5"  class="form-control"/>#}
{#            </td>#}
{#             <td class="col-sm-1">#}
{#                <input type="text" name="t6"  class="form-control"/>#}
{#            </td>#}
{#            <td class="col-sm-1">#}
{#                <input type="text" name="t7"  class="form-control"/>#}
{#            </td>#}
{#            <td class="col-sm-1">#}
{#                <input type="text" name="t8"  class="form-control"/>#}
{#            </td>#}
{##}
{#        </tr>#}
{#    </thead>#}
    <tbody>
        <tr>
            <td>
                <input type="button" class="ibtnDel btn btn-md btn-danger "  value="DeleteRow">
            </td>
            <td>
                <input type="text" name="day" class="form-control" />
            </td>
            <td>
                <input type="text" name="t1"  class="form-control"/>
            </td>
            <td>
                <input type="text" name="t2"  class="form-control"/>
            </td>
             <td>
                <input type="text" name="t3"  class="form-control"/>
            </td>
             <td>
                <input type="text" name="t4"  class="form-control"/>
            </td>
             <td>
                <input type="text" name="t5"  class="form-control"/>
            </td>
             <td>
                <input type="text" name="t6"  class="form-control"/>
            </td>
            <td>
                <input type="text" name="t7"  class="form-control"/>
            </td>
            <td>
                <input type="text" name="t8"  class="form-control"/>
            </td>

        </tr>
    </tbody>
        </table>
    <table>
        <tr>
            <td colspan="1" style="text-align: left;background-color: lightseagreen">
                <input type="button" class="btn btn-lg btn-block " id="addrow" onclick="addRow()" value="Add Row" />
            </td>

            <td colspan="1" style="text-align: left;background-color: lightsalmon">

                <input type="button" class="btn btn-lg btn-block " onclick="deleteColumn()" value="Delete column" />

            </td>
            <td colspan="1" style="text-align: left;background-color: lightblue">

                <input type="button" class="btn btn-lg btn-block " onclick="addColumn1()" value="Add column" />

            </td>
        </tr>
    </table>


        </form>
</div>

   <script>

function addRow(){
                var root=document.getElementById('myTable').getElementsByTagName('tbody')[0];
                var rows=root.getElementsByTagName('tr');
                var clone=cloneEl(rows[rows.length-1]);
                root.appendChild(clone);
            }
function addColumn1(){
                var root=document.getElementById('myTable').getElementsByTagName('tbody')[0];
                 var rows=root.getElementsByTagName('tr');
                var i=0, r, c, clone;
                while(r=rows[i++]){
                    c=r.getElementsByTagName('td');
                    clone=cloneEl(c[c.length-1]);
                    c[0].parentNode.appendChild(clone);
                }
            }
function cloneEl(el){
                var clo=el.cloneNode(true);
                return clo;
            }

    <!--Delete Column-->

function deleteColumn() {


			// Getting the table
			var tble = document.getElementById('myTable');

			// Getting the rows in table.
			var row = tble.rows;

			// Removing the column at index(1).
			var i = 1;
			for (var j = 0; j < row.length; j++) {

				// Deleting the ith cell of each row.
				row[j].deleteCell(i);
			}
		}

  $("table.order-list").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();
        counter -= 1
    }
    );




    </script>
{% endblock %}
{% if message %}
<h1 align="center">{{ message }}</h1>
{% endif %}